.footer-container {
  width: 100%;
  position: relative;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  border-top: 1px solid rgb(233, 232, 232);
  margin-top: 4.5rem;
  z-index: 10;
}

.footer {
  &-col {
    display: flex;
    justify-content: center;

    &-list {
      display: flex;

      &-icon {
        width: 1.8rem;
        height: 1.8rem;
        margin: 1rem 0.3rem;
        img {
          width: 100%;
        }
      }

      &-col {
        display: flex;

        justify-content: center;
        align-items: center;
        line-height: 1.8rem;

        a li {
          color: rgb(19, 123, 141);
          font-weight: 800;
          letter-spacing: 1px;
          border-bottom: rgb(19, 123, 141) 1px dotted;
          margin: 0 0.5rem 1rem 0.5rem;
        }
        a li:hover {
          color: rgb(10, 68, 78);
          border-bottom: rgb(19, 123, 141) 1px solid;
        }
      }
    }
  }
}
